@font-face {
  font-family: "riode";
  src: url("/fonts/riode115b.eot");
  src:
    url("/fonts/riode115b.eot?#iefix") format("embedded-opentype"),
    url("/fonts/riode115b.woff") format("woff"),
    url("/fonts/riode115b.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
